* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

main {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px;
  min-width: 310px;
}

.sedans {
  background: #363B47;
}
.suvs {
  background: #242833;
}
.luxury {
  background: #0B0C12;
}

div {
  padding: 45px;
  height: 500px;
  width: 310px;
  min-width: 310px;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  line-height: 1.5;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

a {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  text-decoration: none;
  margin-top: 95px;
  color: #18A0FB;
}

.asedans {
  color: #363B47;
}
.asedans:hover {
  background: #363B47;
  color: #18A0FB;
  border: 2px solid #18A0FB;
}

.asuvs {
  color: #242833;
}
.asuvs:hover {
  background: #242833;
  color: #18A0FB;
  border: 2px solid #18A0FB;
}

.aluxury {
  color: #0B0C12;
}
.aluxury:hover {
  background: #0B0C12;
  color: #18A0FB;
  border: 2px solid #18A0FB;
}

@media (max-width: 980px) {
  main {
    max-width: 310px;
    margin: 100px;
  }
}
